{% extends "./base_generic.html" %}

{% block content %}  

<div class="content">

  {% if user.is_authenticated %}

    <div class="grid-container">
      {% for image in images %}
        <div class="card card-galery mb-3">
          <div class="card-header">
            <p class="card-text">{{image.name}}</p>
          </div>
          <div class="card-body">
            <img id="card-img" src="{{ image.image.url }}" class="img-fluid rounded card-img-top" alt="{{ image.description }}">
            <div class="overlay">
              <div class="text-overley"><a href="/image_detail/{{image.id}}"><img id="card-img" src="{{ image.image.url }}" alt="{{ image.description }}" class="img-fluid rounded card-img-top"></a>Ver detalle</div>
            </div>
          </div>
          <div class="card-footer text-left">
            <p class="card-text">Original: ({{image.original_width}}, {{image.original_height}})</p>
            <p class="card-text">A4: ({{image.resize_width}}, {{image.resize_height}})</p>
          </div>
        </div>
      {% empty %}
      <div class="container-fluid">
        <br><br><br>
        <h1 style="text-align: center">No se han encontrado imágenes.</h1>
      </div>
      {% endfor %}
    </div>

  {% endif %}
</div>

  {% endblock %}