{% extends "./base_generic.html" %}

{% block content %}  
   
{% load crispy_forms_tags %}  
   
  <div class="container">
    <h2 class="my-4">Agregar una imagen</h2>
    <div class="d-flex justify-content-center">
      <!--Django Form-->
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <!-- {{form|crispy}} -->
          {{form.name|as_crispy_field}}
          {{form.description|as_crispy_field}}
          {{form.image|as_crispy_field}}
          <button class="btn btn-dark my-4" type="submit">Enviar</button>
      </form>
    </div>
    
{% endblock %}