.sizeWidthA4 {
    background-color:gray;
    width: 1133px;
    height: 806px;
    border: 5px solid darkblue;
}

.sizeHeightA4 {
    background-color:gray;
    width: 806px;
    height: 1133px;
    border: 5px solid darkblue;
}

.my-4 {
    color: red;
}

.container {
    background-color:white;
}

/* limita el tamaño y cantidad de cards */
.grid-container {
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
    margin: 15px;
}